.main-header {
  height: 64px;
  background: #041E42;

  span{
    position: absolute;
    left: 24px;
    top: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
  }
}