.data-table {
  margin-top: 24px;
  thead {
    background-color: #E0E2EB;
    height: 48px;
    th {
      width: 192px;
      padding: 0;
      font-family: Scania Sans CY Semi Condensed;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.01em;
      color: #171719;
      border-bottom: 1px solid #C1C6D8;
    }
    :first-child {
      border-top-left-radius: 4px;
    }
    :last-child {
      border-top-right-radius: 4px;
    }
  }
  tbody {
    background-color: #ffffff;
    tr {
      height: 48px;
      td {
        border-bottom: 1px solid #E2E2E4;
      }
    }
  }
}

.dropdown-list{
  height: 56px;
  width: 208px;
  background-color: #FFFFFF;
  border: 1px solid #E2E2E4;
  border-radius: 4px;
  margin-top: 40px;
  margin-left: 40px;
}